html {
    background-color: rgb(11, 6, 32);
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    color: rgb(236, 228, 228);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
h2 {
    color: rgb(236, 228, 228);
}

p {
    color: rgb(236, 228, 228);
    font-size: 16px;
    line-height: 1.5;
}
img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

.social p {
    margin-bottom: 2rem;
    font-size: .9rem;
    color: rgb(236, 228, 228);
}

.social a {
    color: rgb(236, 228, 228);
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.social a:hover {
    text-decoration: underline;
}

.experience {
    margin: 2rem 0;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 10px;
}

.experience, h2, p
.learning h2, p {
    color: rgb(11, 6, 32);
}
details {
    text-align: center;
    margin-bottom: 1.5rem;
    
}

.learning {
    margin: 2rem 0;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 10px;
}
.learning ul {
    text-align: left;
    color: rgb(11, 6, 32);
    list-style: none;
}

summary {
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary i {
    margin-right: 8px;
    transition: transform 0.2s;
}

details[open] summary i {
    transform: rotate(90deg);
}