html {
    background-color: rgb(11, 6, 32);
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin: auto;
    text-align: center;
}

h1 {
    color: rgb(236, 228, 228);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
h2 {
    color: rgb(236, 228, 228);
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    color: rgb(236, 228, 228);
    font-size: 16px;
    line-height: 1.5;
}



.experience {
    margin: 0rem 0;
    padding: 1rem;
    background-color: rgba(236, 228, 228, 0.05);
    border-bottom: 1px solid rgba(236, 228, 228, .5);
}



details {
    text-align: center;
    margin-bottom: 1.5rem;
}

details > p {
    color: rgba(236, 228, 228, 0.7);
}

summary {
    list-style: none;
    cursor: pointer;
    line-height: 1.5;
    color:rgb(236, 228, 228);
}

summary::-webkit-details-marker {
    display: none;
}

summary i {
    margin-right: .5rem;
    transition: transform 0.3s;
}

details[open] summary i {
    transform: rotate(90deg);
}

.profile-header {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Hela info-blocket (bild + namn + tagline) */
.profile-info {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    column-gap: 0.5rem;
    align-items: center;
    padding: 1rem; /* Påverkar inte social-delen */
}

/* Profilbild */
.profile-info img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    max-width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

/* Namn – vertikalt centrerat */
.name {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center
}

.name h1 {
    margin: 0;
    font-size: 1.5rem;
}

/* Tagline under hela raden */
.tagline {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 0.5rem;
    padding: 0 1rem;
}

.tagline p {
    margin: 0;
    font-size: 0.9rem;
    color: rgba(236, 228, 228, .8);
}

/* Social-länkar – full width, kant till kant */
.social {
    border-top: 1px solid rgba(236, 228, 228, .5);
    border-bottom: 1px solid rgba(236, 228, 228, .5);
    padding: 1rem 0;
    background: rgba(236, 228, 228, 0.1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.social a {
    margin: 0 15px;
    color: rgb(236, 228, 228);
    text-decoration: none;
    font-size: 1rem;
}



