:root {
    --bg-color: rgb(230, 227, 227);
    --secondary-bg-color: rgb(244, 240, 240);
    --primary-text-color: rgb(67, 67, 67);
    --secondary-text-color: rgba(67, 67, 67, .8);
    --box-shadow-1: var(--shadow-elevation-medium);
    --box-shadow-2: var(--shadow-elevation-medium);
    --btn-color: rgb(67, 67, 67);
    --btn-text-color: rgb(244, 240, 240);
    --connection-line-color: rgb(220, 220, 220);
    --connection-dot-color: rgb(160, 160, 160);
    --icon-color: #434343;
    --shadow-color: 0deg 2% 56%;
    --shadow-elevation-low:
        0px 0.3px 0.3px hsl(var(--shadow-color) / 0.31),
        0px 0.5px 0.6px -1.2px hsl(var(--shadow-color) / 0.31),
        -0.1px 1.3px 1.5px -2.5px hsl(var(--shadow-color) / 0.31);
    --shadow-elevation-medium:
        0px 0.3px 0.3px hsl(var(--shadow-color) / 0.33),
        -0.1px 1px 1.1px -0.8px hsl(var(--shadow-color) / 0.33),
        -0.1px 2.6px 2.9px -1.7px hsl(var(--shadow-color) / 0.33),
        -0.3px 6.3px 7.1px -2.5px hsl(var(--shadow-color) / 0.33);
    --shadow-elevation-high:
        0px 0.2px 0.2px hsl(var(--shadow-color) / 0.3),
        0px 1px 1.1px -0.4px hsl(var(--shadow-color) / 0.3),
        0px 1.8px 2px -0.7px hsl(var(--shadow-color) / 0.3),
        0px 2.9px 3.3px -1.1px hsl(var(--shadow-color) / 0.3),
        0px 4.7px 5.3px -1.4px hsl(var(--shadow-color) / 0.3),
        0px 7.3px 8.2px -1.8px hsl(var(--shadow-color) / 0.3),
        0px 11px 12.4px -2.1px hsl(var(--shadow-color) / 0.3),
        0px 16.2px 18.2px -2.5px hsl(var(--shadow-color) / 0.3);
    }


html {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    margin: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    letter-spacing: -.5px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

h1 {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.457142857142857rem + 0.2142857142857143vw, 1.8rem);
    margin-bottom: 0.5rem;
}
h2 {
    color: var(--primary-text-color);
    font-size: 1.1rem;
    font-size: clamp(1.1rem, 1.0571428571428572rem + 0.21428571428571416vw, 1.4rem);
    font-weight: 500;
}



strong {
    font-weight: 500;
}

p {
    color: var(--primary-text-color);
    font-size: 1rem;
    font-size: clamp(1rem, 0.9571428571428572rem + 0.2142857142857143vw, 1.3rem);
    line-height: 1.5;
}

.about-me p {
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.8714285714285714rem + 0.1428571428571429vw, 1.1rem);
    margin-top: 0rem;
    color: var(--secondary-text-color);
    text-align: left;
}



.experience,
.education,
.about-me,
.projects {
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--secondary-bg-color);
    border: 1px solid rgba(0, 0, 0, .1);
    max-width: 800px;
    box-shadow: var(--box-shadow-1);
}

.h2-position {
    width: fit-content;
    margin: 1rem 0 1.6rem 0;
}

.icon {
    margin-right: .5rem;
    color: var(--icon-color);
    font-size: 1rem;
}

details summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    cursor: pointer;
}

.summary-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex: 1;
}

.summary-text i.fa-chevron-right {
    margin-left: auto;
}

.company-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
}

details {
    text-align: left;
    margin-bottom: 1.5rem;
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: var(--box-shadow-1);
}

details > p {
    color: var(--secondary-text-color);
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7571428571428572rem + 0.2142857142857143vw, 1.1rem);
}

summary {
    list-style: none;
    cursor: pointer;
    line-height: 1.5;
    color:var(--primary-text-color);
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.8714285714285714rem + 0.1428571428571429vw, 1.1rem);
    
}

summary::-webkit-details-marker {
    display: none;
}

summary i {
    margin-right: .5rem;
    transition: transform 0.3s;
    color: var(--secondary-text-color);
}



details[open] summary i {
    transform: rotate(90deg);
}

.company-group {
    position: relative;
    padding-left: 1.2rem; /* avstånd till linjen */
}

.company-group::before {
    content: "";
    position: absolute;
    left: 3px;     /* Justera så linjen hamnar rakt */
    top: 70px;        /* startpunkt under övre cirkeln */
    bottom: 70px;     /* slutpunkt över nedre cirkeln */
    width: 2px;
    background: var(--connection-line-color);
}

/* Övre cirkeln */
.company-group::after {
    content: "";
    position: absolute;
    left: 0;       /* centrerar cirkeln över linjen */
    top: 50px;           /* placering av cirkeln */
    width: 8px;
    height: 8px;
    background: var(--connection-dot-color);
    border-radius: 50%;
}

/* Nedre cirkeln – separat element */
.company-group .circle-bottom {
    content: "";
    position: absolute;
    left: 0;       /* centrerar cirkeln över linjen */
    bottom: 50px;
    width: 8px;
    height: 8px;
    background: var(--connection-dot-color);
    border-radius: 50%;
}

.company-group details {
    margin-bottom: 20px;
}

header {
    background-color: var(--secondary-bg-color);
    position: sticky;
    top: 0;
    z-index: 9999;
    margin-bottom: 1rem;
}

.profile-header {
    text-align: center;
    margin: 0;
    padding: 0;
}


.profile-info {
    display: grid;
    grid-template-columns: 22% 78%;
    align-items: center;
    padding: 1rem;
    max-width: 600px;
    margin: auto;
}


.profile-info img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    max-width: 140px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
}

.name-wrapper {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.2rem;
    justify-items: center;
}


.name {
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    justify-content: center
}

.name h1 {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.4285714285714286rem + 0.35714285714285715vw, 2rem);
}


.tagline {
    grid-column: 2;
    grid-row: 2;
    margin-top: 0;
    padding: 0;
}

.tagline p {
    margin: 0;
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7714285714285715rem + 0.14285714285714282vw, 1rem);
    color: var(--secondary-text-color);
}


.social {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem 0;
    background: var(--secondary-bg-color);
    box-shadow: var(--shadow-elevation-high);
    text-align: center;
}

.social a {
    margin: 0 15px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.8714285714285714rem + 0.1428571428571429vw, 1.1rem);
}

.social a:hover {
    font-weight: 600;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    max-width: 800px;
    margin: auto;
    align-items: stretch;
}

.project-item {
    background-color: var(--secondary-bg-color);
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: var(--box-shadow-1);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.project-item-description {
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.8714285714285714rem + 0.1428571428571429vw, 1.1rem);
    color: var(--secondary-text-color);
    margin-top: 0;
}

.project-button:hover {
    transform: translateY(-2px);
}

.project-button {
    display: inline-block;
    text-decoration: none;
    color: var(--btn-text-color);
    background-color: var(--btn-color);
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.7571428571428572rem + 0.2142857142857143vw, 1.1rem);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: .8rem 1rem;
    border-radius: 6px;
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
    transition: transform 0.3s;
}

@media screen and (min-width: 600px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .name h1 {
        font-size: clamp(2rem, 1.9081632653061225rem + 0.24489795918367332vw, 2.3rem);
    }
}